@model ConsultaSystem.MVC.ViewModels.ConsultaViewModel

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12 ">
        @using (Ajax.BeginForm("Create", "Consultas", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "teste" }, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            if (ViewData["IDPaciente"] != null)
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Escolher Paciente</label>
                    <div class="col-md-10">
                        @Html.DropDownList("IDPaciente", null, new { @class = "dropdown-toggle" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> Tipo do Exame </label>
                    <div class="col-md-10">
                        @Html.DropDownList("IDTipoDeExame", null, "")
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> Exame </label>
                    <div class="col-md-10">
                        @Html.DropDownList("IDExame")
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Horario, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <input type="datetime-local" id="Horario" name="Horario" class="form-control" />
                        @Html.ValidationMessageFor(model => model.Horario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        @Html.ActionLink("Voltar", "Index", new object { },
                        new { @class = "btn btn-default" })
                        <button type="submit" class="btn btn-primary">
                            Criar
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label col-md-2"> </label>
                    <div class="col-md-10">
                        Nenhum paciente cadastrado.
                    </div>
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        @Html.ActionLink("Cadastrar Paciente", "RedirectToCreate", "Pacientes", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            }
        }
    </div>
</div>

<span id="Message" style="display:none;">@TempData["Message"]</span>
