@model IEnumerable<ConsultaSystem.ViewModels.PacienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Pacientes</h2>

<p>
    <a class="btn btn-primary my-4 btnModal" id="createButton">
        <i class="fa fa-plus"></i>
        Criar Paciente
    </a>
</p>
<table class="table" id="mydiv">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    <tr class="hide empty-table">
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a data-value="@item.ID" class="btn btn-primary my-4 btn-lg btnModal">
                    <i class="fa fa-edit"></i>
                </a>
                <a onclick="deleteConfirmation(@item.ID, '/Pacientes/Delete/', 'Paciente deletedo com sucesso.')" class="btn btn-danger  my-4 btn-lg">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div class="empty-table-text hide">Não há pacientes cadastrados.</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body ">
                <div id="teste"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            handleBtnModalClick('/Pacientes/Create/', '/Pacientes/Edit/')
            if ('@TempData["ShowModal"]' == "ShowModal") {
                $("#createButton").click()
            }
        })

        $(document).ajaxComplete(function () {
            handleSuccess()
        })


    </script>
}
