@model IEnumerable<ConsultaSystem.ViewModels.ConsultaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Consultas</h2>

<p>
    <a class="btn btn-primary my-4 btnModal">
        <i class="fa fa-plus"></i>
        Criar Consulta
    </a>
</p>
<table class="table" id="mydiv">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeExame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protocolo)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exame.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeExame.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protocolo)
            </td>
            <td>
                <a data-value="@item.ID" class="btn btn-primary my-4 btn-lg btnModal">
                    <i class="fa fa-edit"></i>
                </a>
                <a onclick="deleteConfirmation(@item.ID)" class="btn btn-danger  my-4 btn-lg">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body ">
                <div id="teste"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function deleteConfirmation(id) {
            swal({
                title: "Tem certeza?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Deletar",
                cancelButtonText: "Cancelar",
            },
                function (willDelete) {
                    if (willDelete) {
                        $.ajax({
                            url: '/Consultas/Delete/' + id,
                            success: function (msg) {
                                $("#mydiv").load(location.href + " #mydiv>*", "")
                                toastr.success("Consulta deletada com sucesso.")
                            }
                        })
                    }
                })
        }

        $(document).ready(function () {

            $('body').on('click', '.btnModal', function () {
                var id = $(this).data("value")
                if (id == null) {
                    $('#myModal .modal-title').html("Criar Consulta")
                    $("#teste").load("/Consultas/Create/", function () {
                        $('#myModal').modal("show")
                    })
                }
                else {
                    $('#myModal .modal-title').html("Editar")
                    $("#teste").load("/Consultas/Edit/" + id, function () {
                        $('#myModal').modal("show")
                    })
                }

                $("#form").removeData("validator")
                $("#form").removeData("unobtrusiveValidation")
                $.validator.unobtrusive.parse("#form")

                setTimeout(function () {
                    setupForm()
                }, 500)
            })
         
        })

        $(document).ajaxComplete(function () {
            setupForm()
            if ($('#InvalidModelState').text() != '') {
                $('#InvalidModelState').text('')
            }
        })

        function setupForm() {
            var message = $('#Message').text()

            if (message !== '') {
                $('#myModal .modal-body').html('')
                $('#myModal .modal-title').html('')
                $('#myModal').modal('hide')
                $("#mydiv").load(location.href + " #mydiv>*", "")
                $("#myModal").load(location.href + " #myModal>*", "")
                toastr.success(message)
            }

            $("#IDPaciente").chosen({
                width: '50%',
                no_results_text: "Sem resultados para",
                placeholder_text_single: "Selecione uma opção",
                placeholder_text_multiple: "Selecione as opções"
            })


            $("#IDTipoDeExame").change(function () {
                var tipo = $(this).val()
                $.ajax({
                    url: "/Exames/GetByTipo",
                    data: { TipoId: tipo },
                    success: function (response) {
                        $("#IDExame").empty()
                        $.each(response, function (index, row) {
                            $("#IDExame").append("<option value='" + row.ID + "'>" + row.Nome + "</option>")
                        })
                    }
                })
            })
        }
    </script>
}


