@model IEnumerable<ConsultaSystem.ViewModels.ConsultaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Consultas</h2>

<p>
    <a class="btn btn-primary my-4 btnModal">
        <i class="fa fa-plus"></i>
        Criar Consulta
    </a>
</p>
<table class="table" id="mydiv">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeExame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protocolo)
        </th>

        <th></th>
    </tr>

    <tr class="hide empty-table">
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exame.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeExame.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protocolo)
            </td>
            <td>
                <a data-value="@item.ID" class="btn btn-primary my-4 btn-lg btnModal">
                    <i class="fa fa-edit"></i>
                </a>
                <a onclick="deleteConfirmation(@item.ID, '/Consultas/Delete/', 'Consulta deletada com sucesso.')" class="btn btn-danger  my-4 btn-lg">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }
</table>
<div class="empty-table-text hide">Não há consultas cadastradas.</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body ">
                <div id="teste"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            handleBtnModalClick('/Consultas/Create/', '/Consultas/Edit/')
        })

        $(document).ajaxComplete(function () {
            handleSuccess()
            setTimeout(function () {
                setupForm()
            }, 500)
            if ($(".validation-summary-errors ul").length > 0
                && $("#IDExame option").length == 0) {
                $("#IDTipoDeExame").val("")
            }
        })

        function setupForm() {
            $("#IDPaciente").chosen({
                width: '50%',
                no_results_text: "Sem resultados para",
                placeholder_text_single: "Selecione uma opção",
                placeholder_text_multiple: "Selecione as opções"
            })

            $("#IDTipoDeExame").change(function () {
                $.ajax({
                    url: "/Exames/GetByTipo",
                    data: { TipoId: $(this).val() },
                    success: function (response) {
                        $("#IDExame").empty()
                        $(".validation-summary-errors").html("")
                        $.each(response, function (index, row) {
                            $("#IDExame").append("<option value='" + row.ID + "'>" + row.Nome + "</option>")
                        })
                    }
                })
            })
        }

    </script>
}


